.gameContainer{
  display:flex;
  justify-content: center;
}
.NeatCanvasContainer{
  display: flex;
  justify-content: left;
}
.GACanvasContainer{
  display: flex;
  justify-content: center;
}

#GameCanvas{
  border: .5em solid black;
  background-color: white;
  margin: 1em; 
  align-items: end;
}
body{
  background-color: grey;
}